<div class="footer-home py-4 mt-4">
    <div class="container d-lg-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
            <p>↑ 45°04'13" → 7°41'12"</p>
            <div class="footer-home__line"></div>
            
        </div>
        <div class="d-flex align-items-center justify-content-center justify-content-lg-start mt-3 mt-lg-0">
            <a href="#">info@agenzialem.it</a>
            <div class="footer-home__line "></div>
        </div>
    </div>
</div>