<div class="footer py-4 mt-4">
    <div class="container d-flex align-items-center justify-content-between">
        <p class="footer__copy mb-0">© 2018 LEM Agenzia Architettura </p>
        <a href="mailto:info@agenzialem.it" class="footer__link">info@agenzialem.it</a>
    </div>
</div>