<div class="footer-home py-4 mt-4">
    <div class="container d-lg-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
            <a href="https://www.google.com/maps/place/LEM/@45.0644661,7.6624413,17z/data=!3m1!4b1!4m5!3m4!1s0x47886d9906c6d5fd:0x66802c4f638e305f!8m2!3d45.0644661!4d7.66463" target="_blank">↑ 45°04'13" → 7°41'12"</a>
            <div class="footer-home__line"></div>
            
        </div>
        <div class="d-flex align-items-center justify-content-center justify-content-lg-start mt-3 mt-lg-0">
            <a href="#">info@agenzialem.it</a>
            <div class="footer-home__line "></div>
        </div>
    </div>
</div>