<div class="navbar">
    <div class="container d-flex align-items-center justify-contente-between">
        <a href="/">
        <img src="/assets/images/logos/lem-dark.svg" alt="" class="logo">
        </a>
        <div>
            <ul class="list-unstyled d-flex">
                <li>
                    <a href="#" class="link-projects">Projects</a>
                </li>
                <li class="mx-3">
                    <a href="/studio.html" class="link-studio">Studio</a>
                </li>
            </ul>
        </div>
    </div>
</div>