<div class="navbar">
    <div class="container d-flex align-items-center justify-contente-between">
        <a href="/">
        <img src="/assets/images/logos/lem-dark.svg" alt="" class="logo">
        </a>
        <div class="d-none d-lg-block">
            <ul class="list-unstyled d-flex">
                <li>
                    <a href="#" class="link-projects">Projects</a>
                </li>
                <li class="mx-3">
                    <a href="/studio.html" class="link-studio">Studio</a>
                </li>
            </ul>
        </div>
        <div class="hamburger d-lg-none">
            <div class="hamburger__item"></div>
        </div>
        <div class="navbar__menu  d-lg-none">
            <ul class="list-unstyled ">
                 <li>
                    <a href="#" class="link-mobile link-home">Home</a>
                </li>
                <li>
                    <a href="#" class="link-mobile link-projects">Projects</a>
                </li>
                <li >
                    <a href="/studio.html" class="link-mobile link-studio">Studio</a>
                </li>
               
            </ul>
            <div class="contact">
                <p>Get in touch</p>
                <a href="mailto:info@agenzialem.it">info@agenzialem.it</a>
            </div>
        </div>
    </div>
</div>