<!DOCTYPE html>
<html lang="en">

<head>
    {{> default/head}}
</head>


<body class="home d-flex align-items-center justify-content-center position-relative  ">
    <video autoplay muted loop playsinline class="video-bg">
        <source src="/assets/videos/galaxy.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <div class="pattern-home" style="background-image: url('/assets/images/pattern.png')"></div>
    <img src="/assets/images/logos/lem-white.svg" alt="" class="logo logo--absolute">
    <div class="container mt-4">
        <div class="row">
            <div class="col-6 col-lg-5 ml-auto">
                <a href="/projects.html" class="cta d-flex align-items-center justify-content-center">
                <div class="cta__line"></div>
                    <div class="text-center d-flex align-items-center">
                        <h1>Projects</h1>
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </a>
            </div>
            <div class="col-6 col-lg-5 mr-auto">
                <a href="/studio.html" class="cta d-flex align-items-center justify-content-center">
                    <div class="cta__line"></div>
                    <div class="text-center d-flex align-items-center">
                        <h1>Studio</h1>
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </a>
            </div>
        </div>

    </div>
    {{> components/footer-home}}
    {{> default/scripts}}
</body>

</html>