<!DOCTYPE html>
<html lang="en">

<head>
    {{> default/head}}
</head>


<body class="projects-page">
    {{> components/navbar}}
    <div class="container-fluid ">
        <nav class="my-5">
            <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
                <a class="nav-item nav-link mx-2 mx-lg-4 active" id="nav-selectedProjects-tab" data-toggle="tab" href="#nav-selectedProjects"
                    role="tab" aria-controls="nav-selectedProjects" aria-selected="true">Selected projects</a>
                <a class="nav-item nav-link mx-2 mx-lg-4" id="nav-allProjects-tab" data-toggle="tab" href="#nav-allProjects"
                    role="tab" aria-controls="nav-allProjects" aria-selected="false">All projects</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-selectedProjects" role="tabpanel" aria-labelledby="nav-selectedProjects-tab">
                <div class="row">
                    <div class=" col-lg-4">
                        <div class="project" style=" background-image: url('/assets/images/project2.jpeg')">
                            <a href="/project.html">
                                <div class="project__opacity"></div>
                                <div class="project__info">
                                    <h1 class="project__title">Villa mico morcante</h1>
                                    <p class="project__location">Lugano, Svizzera</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class=" col-lg-4">
                        <div class="project" style=" background-image: url('/assets/images/project1.jpg')">
                            <div class="project__opacity"></div>
                            <div class="project__info">
                                <a href="" class="project__title">Villa mico morcante</a>
                                <p class="project__location">Lugano, Svizzera</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-4">
                        <div class="project" style=" background-image: url('/assets/images/project2.jpeg')">
                            <div class="project__opacity"></div>
                            <div class="project__info">
                                <a href="" class="project__title">Villa mico morcante</a>
                                <p class="project__location">Lugano, Svizzera</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-allProjects" role="tabpanel" aria-labelledby="nav-allProjects-tab">
                <div class="container">
                    <table id="listProject" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th class="font-weight-bold">Project name</th>
                                <th class="font-weight-bold d-none d-lg-block">City</th>
                                <th class="font-weight-bold d-none d-lg-block">Country</th>
                                <th class="font-weight-bold d-none d-lg-block">Tipology</th>
                                <th class="font-weight-bold">Year</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr class="table--listProjects hasLink">

                                <td>
                                    <a href="#" class="d-flex align-items-center">
                                        <img src="/assets/images/icons/link.svg" alt="" class="mr-2 icon">
                                        <h6 class="mb-0"> Villa forte</h6>
                                    </a>
                                </td>
                                <td class="d-none d-lg-block">
                                    <a href="#">
                                        <h6 class="mb-0"> Torino</h6>
                                    </a>
                                </td>
                                <td class="d-none d-lg-block"><a href="#">
                                        <h6 class="mb-0"> Italy</h6>
                                    </a></td>
                                <td class="d-none d-lg-block"><a href="#">
                                        <h6 class="mb-0"> Residential</h6>
                                    </a></td>
                                <td><a href="#">
                                        <h6 class="mb-0"> 2017-2018</h6>
                                    </a></td>

                            </tr>
                            <tr class="table--listProjects ">

                                <td>
                                    <a href="#" class="d-flex align-items-center">
                                        <img src="/assets/images/icons/link.svg" alt="" class="mr-2 icon">
                                        <h6 class="mb-0"> Villa forte</h6>
                                    </a>
                                </td>
                                <td class="d-none d-lg-block">
                                    <a href="#">
                                        <h6 class="mb-0"> Torino</h6>
                                    </a>
                                </td>
                                <td class="d-none d-lg-block"><a href="#">
                                        <h6 class="mb-0"> Italy</h6>
                                    </a></td>
                                <td class="d-none d-lg-block"><a href="#">
                                        <h6 class="mb-0"> Residential</h6>
                                    </a></td>
                                <td><a href="#">
                                        <h6 class="mb-0"> 2017-2018</h6>
                                    </a></td>

                            </tr>


                        </tbody>
                    </table>
                  

                </div>
            </div>

        </div>

    </div>
    {{> components/footer}}
    {{> default/scripts}}
</body>

</html>