<!DOCTYPE html>
<html lang="en">

<head>
    {{> default/head}}
</head>


<body class="studioPage">
    {{> components/navbar}}
    <div class="pattern" style="background-image:url('/assets/images/pattern-studio.png')">

        </div>
    <div class="container  ">
        
        
        <div class="header">
            <div class="row">
                <div class="col-lg-7">
                    <img src="/assets/images/logos/lem-dark.svg" alt="" class="header__logo">
                    <h1 class="header__title">The architecture agency led by explorers underpinned by a strong research
                        and analytical approach.</h1>
                </div>
            </div>
        </div>

    </div>
    <div class="container" style="margin-bottom: 1500px">
        ciao
    </div>
    {{> components/footer}}
    {{> default/scripts}}
</body>

</html>