.footer-home {
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    &--animated {
        animation-name: footerHome;
    animation-duration: 1.6s;
    animation-delay: 2.2s;
    animation-fill-mode: forwards; 
    }
    @media (max-width: 992px) {
        bottom: 30px;
    }
    left: 0;
    right: 0;
    font-size: 14px;
    z-index: 3;
    &__line {
        height: 1px;
        width: 100px;
        opacity: 0.5;
        background-color: #FFFFFF;
        margin-left: 20px;
        @media (max-width: 992px) {
            display: none;
        }
    }
    a,
    p {
        color: #fff;
        font-size: 14px;
        margin: 0;
    }
    @keyframes footerHome {
        from {
            opacity: 0;
            transform: translateY(200px);
        }
        to {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

.footer {
    width: 100%;
    height: 100px;
    position: relative;
    margin-top: auto!important;
    background-color: #F9F9F9;
    @media (max-width: 992px) {
       
    }
    left: 0;
    right: 0;
    font-size: 14px;
    z-index: 3;
    a {
        font-size: 16px;
        color: #444549;
        opacity: .5;
    }
    p {
        color: #444549;
        opacity: .5;
        font-size: 14px;
        margin: 0;
    }
}