.navbar {
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 9;
    ul,
    li {
        margin: 0;
        padding: 0;
        a {
            color: #333;
            text-decoration: none;
        }
    }
}