.projectPage {
    margin-top: 100px;
    &__mainImg {
        width: 100%;
        height: 500px;
        background-position: center;
        background-size: cover;
    }
    &__images {
        background-position: center;
        background-size: cover;
        height: 370px;
    }
    &__title {
        font-family: 'HellixBold';
        font-size: 32px;
        color: #444549;
    }
    &__description {
        color: #444549;
        font-size: 16px;
    }
    &__label {
        color: #8F9197;
        font-size: 16px;
    }
    .paragraph-end {
        color: #444549;
        font-size: 16px;
        margin-bottom: 5px;
    }
}