.projects-page {
    .link-projects {
        font-family: 'HellixBold';
    }
    .nav-tabs,
    .nav-link {
        border: 0;
        color: #000;
        font-size: 26px;
        &.active {
            font-family: 'HellixBold';
        }
    }
    .nav-tabs {
        margin-top: 120px;
    }
    .table--listProjects {
        color: #8F9197;
        text-decoration: none;
        cursor: default;
        .icon {
            visibility: hidden;
        }
        &.hasLink {
            color: #444549;
            cursor: pointer;
            .icon {
                visibility: visible;
            }
        }
    }
}