.projects-page {
    .link-projects {
        font-weight: bold;
    }
    .nav-tabs,
    .nav-link {
        border: 0;
        color: #000;
        font-size: 26px;
        &.active {
            font-weight: bold;
        }
    }
}