.projects-page {
    min-height: 100vh;
    display: flex !important;
    flex-direction: column !important;
   
    .link-projects {
        font-family: 'HellixBold';
        @media (max-width: 992px) {
            color: #333;
        }
    }
    .nav-tabs,
    .nav-link {
        border: 0;
        color: #000;
        font-size: 28px;
        @media (max-width: 576px) {
            font-size: 16px;
        }
        &.active {
            font-family: 'HellixBold';
        }
    }
    .nav-tabs {
        margin-top: 120px;
    }
    #nav-allProjects {
        
        h6 {
            font-size: 14px;
        }
        .row-title {
           
                h6 {
                font-size: 16px;}
           
        }
    }
    #nav-tabContent {
        @media (max-width: 576px) {
        overflow: scroll;
        }
    }
    .table--listProjects {
        color: #8F9197;
        a {
            text-decoration: none;
            font-size: 14px;
            color: #96989E;
        }
        text-decoration: none;
        cursor: default;
        .icon {
            visibility: hidden;
        }
        &.hasLink {
            color: #444549;
            a {
                color: #444549;
            }
            cursor: pointer;
            .icon {
                visibility: visible;
            }
        }
    }
}