.project {
    height: 310px;
    width: 400px;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 100px;
    &__opacity {
        background-color: rgba(0, 0, 0, .4);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
        display: none;
    }
    &__info {
        display: none;
        padding: 30px 16px;
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }
    &__title {
        color: #fff;
        font-size: 30px;
        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
    &:hover {
        .project__info,
        .project__opacity {
            display: block;
        }
    }
}