.project {
    height: 310px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    &__opacity {
        background-color: rgba(68, 69, 73, .8);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 1;
       opacity: 0;
       transition: all .4s;
        @media (max-width: 992px) {
            display: block;
            background-color: rgba(68, 69, 73, .6);
        }
    }
    &__info {
        padding: 30px 16px;
        color: #fff;
        position: absolute;
        bottom: -200px;
        opacity: 0;
        left: 0;
        right: 0;
        z-index: 2;
        transition: all .4s;
        @media (max-width: 992px) {
            bottom: 0;
            opacity: 1;
        }
    }
    &__title {
        color: #fff;
        font-size: 32px;
        font-family: 'HellixBold';
        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }
    &:hover {
        .project__info {
            bottom: 0;
            opacity: 1;
        }
        .project__opacity {
            opacity: 0+1;
        }
    }
}