.projectPage {
    margin-top: 130px;
    
    &__mainImg {
        width: 100%;
        height: 600px;
        @media (max-width: 992px) {
            height: 300px;
        }
        background-position: center;
        background-size: cover;
    }
    &__images {
        background-position: center;
        background-size: cover;
        height: 450px;
        @media (max-width: 992px) {
            height: 250px;
        }
        &--vertical {
            @media (max-width: 992px) {
                height: 450px;
            }
        }
    }
    &__title {
        font-family: 'HellixBold';
        font-size: 32px;
        color: #444549;
    }
    &__description {
        color: #444549;
        font-size: 16px;
    }
    &__label {
        color: #8F9197;
        font-size: 16px;
    }
    .row--3 {
        @media (min-width: 992px) {
        .projectPage__images {
            height: 380px;
        }
        .projectPage__images--vertical {
            height: calc(100% - 30px);
        }}
    }
    .paragraph-end {
        color: #444549;
        font-size: 16px;
        margin-bottom: 5px;
    }
}